
*, html, body {
    font-size: 18px; 
    width: 100%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

section {
    width: 600px;
}

input {
    display: flex;
}


.mood {
    text-align: left;
    justify-content: left;
}